* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #2d3c49;
  margin: 0 auto;
  max-width: 850px;
}

p {
  margin: 5px 0;
  line-height: 25px;
}

strong {
  font-weight: bold;
}


header {
  width: auto;
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

header img {
  width: auto;
  max-width: 200px;
  border: 1px solid grey;
  min-height: 250px;
}

header h1 {
  font-size: 48px;
}

header p {
  font-size: 24px;
}

.hero {

}

.hero img {

}

main {

}

main section {
    display:flex;
    flex-wrap: wrap;
}

main h2 {
  display: inline;
}

main article {
  width: auto;
  max-width: 200px;
}

main article h3 {

}

main article img {

}





.hidden {
  position:absolute;
  clip:rect(1px, 1px, 1px, 1px);
}
